<launch>
	<arg name="paused" default="false"/>
    <arg name="debug"  default="false"/>
    <arg name="verbose"  default="false"/>
    <arg name="map_tf" default="false"/>
    <arg name="single" default="true"/>

    <!-- single -->
    <include if="$(arg single)" file="$(find iarc_sim_3d)/launch/sim_single.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="debug"  value="$(arg debug)"/>
        <arg name="verbose"  value="$(arg verbose)"/>
        <arg name="map_tf" value="$(arg map_tf)"/>
    </include>

    <!-- multi-->
    <include unless="$(arg single)" file="$(find iarc_sim_3d)/launch/sim_multi.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="debug"  value="$(arg debug)"/>
        <arg name="verbose"  value="$(arg verbose)"/>
        <arg name="map_tf" value="$(arg map_tf)"/>
    </include>

</launch>
