<launch>
	<arg name="paused" default="false"/>
    <arg name="debug"  default="false"/>
    <arg name="verbose"  default="false"/>
    <arg name="map_tf" default="false"/>

    <!-- Create World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find iarc_sim_3d)/worlds/iarc.world"/>
		<arg name="paused" value="$(arg paused)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- Spawn simulated quadrotor uav -->
    <include file="$(find iarc_sim_3d)/launch/spawn_drone.launch">
        <arg name="ns" default="drone_1"/>
        <arg name="x" default="0.5"/>
    </include>

    <include file="$(find iarc_sim_3d)/launch/spawn_drone.launch">
        <arg name="ns" default="drone_2"/>
        <arg name="x" default="-0.5"/>
    </include>

    <!-- map -> odom transforms -->
    <group if="$(arg map_tf)">
        <node pkg="tf" type="static_transform_publisher" name="map_to_drone_1_odom_tf"
            args="0.5 0 0 0 0 0 map drone_1/odom 1"/>
        <node pkg="tf" type="static_transform_publisher" name="map_to_drone_2_odom_tf"
            args="-0.5 0 0 0 0 0 map drone_2/odom 1"/>
    </group>

</launch>
