<?xml version="1.0"?>
<model>
    <name>QR4</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Lydia Zuehsow</name>
        <email>lzuehsow@olin.edu</email>
    </author>

    <description>
        QR code material for IARC mission 8.
    </description>
</model>
