<launch>
    <node name="arbiter" ns="arbiter" pkg="iarc_arbiter" type="arbiter.py" output="screen">
        <rosparam param="behaviors">['forebrain', 'teleop', 'goto_click']</rosparam>
        <remap from="/cmd_vel" to="/bebop/cmd_vel" />
        <remap from="/takeoff" to="/bebop/takeoff"/>
        <remap from="/land" to="/bebop/land" />
        <remap from="/odometry" to="/bebop/odom"/>
    </node>
    <node name="move_base_relay" ns="goto_click" pkg="iarc_main" type="follow_click.py" output="screen"/>
    <!-- does the above node also require remap? check. -->
</launch>
