<launch>
    <node name="arbiter" ns="arbiter" pkg="iarc_arbiter" type="arbiter.py" output="screen">
        <rosparam param="behaviors">['forebrain', 'teleop', 'goto_click']</rosparam>
        <remap from="/odometry" to="/bebop/odom"/>
    </node>
    <node name="move_base_relay" ns="goto_click" pkg="iarc_main" type="follow_click.py" output="screen"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="map_frame"
          args="0 0 0 0 0 0 odom map 200"/>-->

    <node pkg="tf" type="static_transform_publisher" name="launch_frame"
          args="0 0 0 0 0 0 odom launch 200"/>

    <!-- does the above node also require remap? check. -->

    
    <node pkg="tf" type="static_transform_publisher" name="map_frame_fake"
          args="0 0 0 0 0 0 map odom 200"/>
</launch>
